@import url('var_colores.css');

body {
    align-items: start;
}

button:hover {
    background-color: rgba(59, 59, 59, 0.5);
}

button:active {
    background-color: rgba(59, 59, 59, 0.808);
    color: white;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: dimgray;
}