@import url('var_colores.css');
body{
    background: url('../img/tapete-metal.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 3%;
  }

/*   body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
} */
button {
    padding: 10px 20px;
    margin: 20px;
    font-size: 16px;
    cursor: pointer;
}
.left-column {
    font-family: 'arial';
    width: 50vw;
    margin: 0;
    padding: 20px;
}

.center-column {
  font-family: 'arial';
  width: 50vw;
  margin: 0;
  padding: 20px;
}

.right-column {
    font-family: 'arial';
    width: 50vw;
    margin: 0;
    padding: 20px;
}

.caja1 {
    font-family: 'arial';
 /*    display: flex;
    flex-direction: row;
    padding: 20px; */
}

.caja2 {
  font-family: 'Arial';
  display: flex;
  flex-direction: row;
  justify-content: center; /* Centra horizontalmente los ítems */
  /*align-items: center;      Centra verticalmente los ítems */
  padding: 20px;
}

.search-bar {
    padding: 20px;
    padding-left: 30px;
}

#product-cards {
    padding: 20px;
    
}

.product-cards-one { /* listas de categorias*/
    background-color:rgba(156, 156, 156, 0.28);;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.28);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.28);
    box-shadow: 10px 10px 5px 0px rgba(59, 59, 59, 0.28);
    padding: 10px;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.casillaNumeros {
  /*width: 10px;*/
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #585858;
  border-radius: 4px;
  /*box-sizing: border-box;*/
}

.boton_categoria{
  padding: 10px 20px;
  margin: 20px;
  font-size: 16px;
  cursor: pointer;
  border-width: 2px;
  border-style: outset;
  border-color: black;
  border-image: initial;
}

.boton_categoria:hover {
  background-color: rgba(59, 59, 59, 0.5);
}

.boton_categoria:active {
  background-color: rgba(59, 59, 59, 0.808);
  color: white;
}

.button-group button {
        padding: 10px 20px;
        margin: 5px;
        background-color: #007BFF;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }

.button-group button:hover {
    background-color: #0056b3;
}

header {
    position: relative;
    background-color: black;
    height: 50vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  
  /* Media Query for devices withi coarse pointers and no hover functionality */
  
  /* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */
  
  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('../cotizador-web-pisuena/assets/videos/vid-pisuena.MOV') black no-repeat center center scroll;
    }
  
    header video {
      display: none;
    }
  }


  .btn-stil{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;

  }
  .btn-stil-1{
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
  }