@import url('var_colores.css');
@import url('https://fonts.googleapis.com/css2?family=Nata+Sans:wght@100..900&display=swap');


/* body{
    background: url('../img/tapete-metal.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 3%;
  }
 */
.caja1 {
    font-family: 'arial';
 /*    display: flex;
    flex-direction: row;
    padding: 20px; */
}

.button-group button {
        padding: 10px 20px;
        margin: 5px;
        background-color: #007BFF;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }

.button-group button:hover {
    background-color: #0056b3;
}

header {
    position: relative;
    background-color: black;
    height: 50vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  
  /* Media Query for devices withi coarse pointers and no hover functionality */
  
  /* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */
  
  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('../cotizador-web-pisuena/assets/videos/vid-pisuena.MOV') black no-repeat center center scroll;
    }
  
    header video {
      display: none;
    }
  }


  .btn-stil{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;

  }
  .btn-stil-1{
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
  }
  .edit-img{
    box-shadow: 2px 5px 18px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 2px 5px 18px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 5px 18px 0px rgba(0,0,0,0.75);
  }
  .prod-lista{
    margin-top: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
  }

  .stilo-carrito{


    background-color: var(--color-primario);
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    text-align: left;
    margin-bottom: 10px;

  }

  .custom-btn-sm {
  padding: 5px 15px;
  font-size: 0.875rem;
  border-radius: 5px;
}


.txt-prod{
  font-size: 16px;
  text-decoration: none;   /* Solo quita el subrayado */
  color: #333;             /* Color personalizado */

}
.txt-prod-1{
  font-size: 25px;
  text-decoration: none;   /* Solo quita el subrayado */
  color: #333;   
  margin-bottom: 5%;          /* Color personalizado */
   font-weight: 500;

}
.txt-prod:hover {
  text-decoration: none;   /* También en hover */
}

.stilo-tittle{
  font-family: 'Nata Sans', sans-serif;
/*   font-weight: 900; */
  color: var(--color-primario);
/*   text-shadow: 2px 2px 4px rgba(0,0,0,0.5); */
}


