
  <footer class="text-center text-lg-start text-white" style="background-color: #100FF6">
    <section class="d-flex justify-content-between p-4">
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold">Ferretera Rio Pisueña</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px; font-size: 80px" />
            <p>
              Con 33 años de experiencía, dedicada a la comercialización de todo tipo de artículos de ferretería,
              proporcionando el mejor y más rápido servicio a todos nuestros clientes.
            </p>
          </div>
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold">Lo mas vendido</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
            <p><a href="../catalogo/catalogo.html" class="text-white">Taladros</a></p>
            <p><a href="../catalogo/catalogo.html" class="text-white">Cortadoras</a></p>
            <p><a href="../catalogo/catalogo.html" class="text-white">Desarmadores</a></p>
            <p><a href="../catalogo/catalogo.html" class="text-white">Pinzas</a></p>
          </div>
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold">Encuentranos</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
            <p><i class="fas fa-home mr-3"></i>Av. Tláhuac No. 1552 Col. Año de Juárez C.P. 09780 Del. Iztapalapa CDMX</p>
            <p><i class="fas fa-envelope mr-3"></i> ventas@riopisuena.com.mx</p>
            <p><i class="fas fa-phone mr-3"></i> 55 5850 0140</p>
            <p><i class="fab fa-whatsapp"></i> 55 9199 6245</p>
          </div>
        </div>
      </div>
    </section>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2025 Copyright:
      <a class="text-white" href="https://teampcmx.com/">teampcmx</a>
    </div>
  </footer>
</body>
