<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ferretera Rio Pisuena | Cotizador Web</title>
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="../css/elementals.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="icon" href="../assets/logoriopisuena.ico" type="image/x-icon">
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light static-top mb-5 shadow">
    <div class="container">
        <a class="navbar-brand" href="../main/index.html">
        <img src="../img/logoriopisuena.gif" alt="" width="95" height="110" class="d-inline-block align-text-top">
        </a>
        <a class="navbar-brand" href="#">Ferretera Rio Pisueña | Cotizador de Productos </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ms-auto">
          <!--   <li class="nav-item active">
            <a class="nav-link" href="../main/index.html">Pagina principal</a>
            </li> -->
            <li class="nav-item active">
            <a class="nav-link" href="../catalogo/catalogo.html">Catalogo |</a>
            </li>
        </ul>
            <div class="d-flex">
                <button class="btn btn-outline-dark" onclick="window.location.href='../cotizador/cotizador.html'">
                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                    Carrito
                    <span class="badge bg-dark text-white ms-1 rounded-pill" id="numeroArticulosEnCarrito">0</span>
                </button>
            </div>
        </div>
    </div>
</nav>